[submodule "cudaKDTree"]
	path = extern/cudaKDTree
	url = https://github.com/ingowald/cudaKDTree.git
[submodule "extern/pybind11"]
	path = extern/pybind11
	url = ../../pybind/pybind11
	branch = stable
